@{ ViewData["Title"] = "Home Page"; }
<canvas id="flappy"></canvas>
<script src="~/howler.min.js"></script>
<script src="~/matter.min.js"></script>
<script src="~/pixi.min.js"></script>
<script src="~/app.js"></script>
@for(int i = 0; i < 1000; i++)
{
<p>Scroll Test</p>
}