@{ ViewData["Title"] = "Leaderboard"; }
@using Flappy.Models
<h1>Leaderboard</h1>
<h2>Top 10 Scores of This Week</h2>
@await Component.InvokeAsync("ScoreTable", ViewBag.Top10ThisMonth)
<h2>Top 10 Scores of This Month</h2>
@await Component.InvokeAsync("ScoreTable", ViewBag.Top10AllTime)
<h2>Top 10 Scores of All Time</h2>
@await Component.InvokeAsync("ScoreTable", ViewBag.Top10ThisWeek)