@{ ViewData["Title"] = "Leaderboard"; }
@using Flappy.Models
@model Score
<div class="card" style="margin-top:20px">
    <h5 class="card-header">Submit Your Score</h5>
    <div class="card-body">
    <h5 class="card-title">Your score is: @Model.Value</h5>
    <p>Enter your name to submit your score to the leaderboard.</p>
    <form class="form" method="post" autocomplete="off">
        <input name="value" type="hidden" value="@Model.Value"/>
        @if(ViewBag.validate && !ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger my-3">
            @foreach(ModelStateEntry modelStateEntry in ViewData.ModelState.Values)
            {
                @foreach(ModelError i in modelStateEntry.Errors)
                {
                    <div>@i.ErrorMessage</div>
                }
            }
            </div>
        }
        <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="Enter your name here." asp-for="Name" maxlength="16" autofocus/>
            <div class="input-group-append">
                <input class="btn btn-outline-primary" type="submit"/>
            </div>
        </div>
    </form>
    </div>
</div>